@use 'sass:math';

.osw-footer {
  background-image: linear-gradient(#120263, #821803);
  min-height: 26rem;
  padding-top: 2.3rem;
  padding-bottom: 0.6rem;
  position: relative;
  .osw-footer__background-corner--left,
  .osw-footer__background-corner--right {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    img {
      width: 100%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .osw-footer__background-corner--left {
    max-width: math.div(30000%, 1280);
    left: 0;
  }
  .osw-footer__background-corner--right {
    max-width: math.div(25000%, 1280);
    right: 0;
  }
  .footer__nav {
    width: 100%;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--osw-color-white);
  }
  .footer__nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 33.333%;
    text-align: center;
    &:nth-child(1) {
      text-align: left;
    }
    &:nth-child(3) {
      text-align: right;
    }
    &:nth-child(n + 4) {
      margin-top: 2rem;
    }
  }

  .osw-footer__information {
    margin-top: 2rem;
    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--osw-color-white);
      text-align: center;
    }
  }
  .footer__nav-link {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--osw-color-white);
  }
  .osw-footer__copyright {
    p {
      margin-top: 5rem;
      text-align: center;
      color: var(--osw-color-white);
      font-size: 1.2rem;
    }
  }
}
