header {
  font-size: var(--osw-header-font-size);
  @media (max-width: 1024px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--osw-color-white);
    .osw-container {
      box-shadow: 0 0.3rem 0.9rem rgb(0 0 0 / 6%);
    }
  }
}
.header-wrapper {
  padding-top: var(--osw-header-padding-top);
  @media (max-width: 1024px) {
    padding-bottom: var(--osw-header-padding-top);
  }
}
.header__nav {
  margin-top: 1.7rem;
  &-item {
    + .header__nav-item {
      margin-left: var(--osw-header-nav-item-space);
    }
  }
  &-link {
    color: var(--osw-color-primary);
    display: inline-block;
    min-width: var(--osw-header-nav-link-width);
    padding: var(--osw-header-nav-link-padding-y)
      var(--osw-header-nav-link-padding-x);
    border-radius: var(--osw-header-nav-link-radius);
    font-size: 1.6rem;
    &:hover {
      background-color: var(--osw-color-primary);
      color: var(--osw-color-white);
    }
  }
  @media (max-width: 1024px) {
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 25rem;
    top: 7.689rem;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin-top: 0;
    background-color: var(--osw-color-white);
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transform: translateX(-100%);
    transition: var(--osw-transition);
    &.is-showed {
      transform: translateX(0);
    }

    .header__nav-item {
      .header__nav-link {
        text-align: left;
        font-weight: 600;
        font-size: 1.4rem;
      }
      + .header__nav-item {
        margin-left: 0;
        margin-top: 2.4rem;
      }
    }
  }
  @media (max-width: 767px) {
    top: 6.689rem;
  }
}
.header__nav__overlay {
  background-color: rgba(#000, 0.75);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  top: 7.689rem;
  z-index: 9;
  transform: translateX(-100%);
  transition: var(--osw-transition);
  &.is-showed {
    transform: translateX(0);
  }
  @media (max-width: 767px) {
    top: 6.689rem;
  }
}
.header__logo {
  width: var(--osw-header-logo-width);
  img {
    width: 100%;
  }
}
.header__nav__btn-toggle {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-inline-start: 1rem;
  span {
    display: inline-block;
    height: 0.2rem;
    margin: 0.2rem 0;
    background-color: var(--osw-color-primary);
    &:nth-child(1) {
      width: 1.5rem;
    }
    &:nth-child(2),
    &:nth-child(3) {
      width: 2rem;
    }
    // &:nth-child(3) {
    //   width: 1.5rem;
    // }
  }
}
.header__language {
  @media (max-width: 1024px) {
    label {
      display: none;
    }
  }
}
.header__right-side {
  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
  }
}
