.osw-container {
  padding-left: var(--osw-container-padding);
  padding-right: var(--osw-container-padding);
  width: 100%;
  @media (max-width: 1199px) {
    --osw-container-padding: 3rem;
  }
  @media (max-width: 767px) {
    --osw-container-padding: 1rem;
  }
}

.osw__social {
  margin-top: 2.7rem;
  a {
    display: inline-block;
    + a {
      margin-left: 3.8rem;
    }
  }
  @media(max-width: 480px){
    display: flex;
    justify-content: space-between;
    a{
      +a{
        margin-left: unset;
      }
    }
  }
}

.osw-community {
  text-align: center;
  margin-top: 3.7rem;
  padding-bottom: var(--osw-section-padding);
  &-title {
    p {
      font-weight: bold;
      font-size: 2rem;
      line-height: 24px;
      color: var(--osw-color-primary);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 3.8rem;
      padding: 0.4rem 1.2rem;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        border: 0.3rem solid var(--osw-color-primary);
        bottom: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        border-top: 0;
        border-right: 0;
      }
      &:after {
        content: '';
        position: absolute;
        border: 0.3rem solid var(--osw-color-primary);
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        border-bottom: 0;
        border-left: 0;
      }
    }
  }
}

.osw-footer--minimize {
  background-color: #0d0245;
  .osw-footer__copyright {
    padding: 0.4rem 0;
    p {
      text-align: center;
      font-size: 1.2rem;
      color: var(--osw-color-white);
    }
  }
}

body {
  padding-top: var(--osw-body-padding-top);
}

// CSS for specify pages
.team-partners-page {
  .osw-partners {
    padding-bottom: var(--osw-section-padding);
  }
}

.osw__block-title {
  margin-bottom: 4rem;
  h2 {
    @include text-gradient(#2a00ff, #ff4b23);
    color: var(--osw-color-primary);
    font-size: 5rem;
    text-align: center;
    + p {
      margin-top: 1.8rem;
    }
  }
  p {
    max-width: 100.34rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--osw-color-primary);
    text-align: center;
    font-size: 1.6rem;
    @media (min-width: 1440px) {
      font-size: 2rem;
    }
  }
  @media (max-width: 1199px) {
    margin-bottom: 3rem;
    h2 {
      font-size: 3.7rem;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 2rem;
    h2 {
      font-size: 2.4rem;
    }
  }
}

.plyr {
  background: unset;
  > .plyr__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    transform: translate(0);
    background-image: url(/images/button_background.png) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    z-index: 10;
    opacity: 1;
    svg {
      display: none;
    }
    &:hover {
      background-image: url(/images/button_background.png) !important;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
    }
  }
  > .plyr__video-wrapper{
    background: unset;
  }
}

.none-banner{
  display: flex;
  justify-content: center;
  video{
    width: 100%;
  }
}
