.desktop {
  @media (max-width: 1024px) {
    display: none !important;
  }
}
.mobile {
  @media (min-width: 1025px) {
    display: none !important;
  }
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-linear {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-decoration-none {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.ml-auto {
  margin-inline-start: auto;
}
.mr-auto {
  margin-inline-end: auto;
}
