.osw-partners {
  --osw-section-padding: 7.5rem;
  padding: var(--osw-section-padding) 0 0 0;

  .osw__block-title {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    h2 {
      padding: 0.5rem 1rem;
      color: var(--osw-color-primary);
      background: transparent;
      -webkit-text-fill-color: unset;
      -webkit-background-clip: unset;
      font-size: 2rem;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        border: 0.3rem solid var(--osw-color-primary);
        bottom: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        border-top: 0;
        border-right: 0;
      }
      &:after {
        content: '';
        position: absolute;
        border: 0.3rem solid var(--osw-color-primary);
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        border-bottom: 0;
        border-left: 0;
      }
    }
  }
  .osw__block-content {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    .swiper__partners-navigation {
      &--next,
      &--prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
      &--prev {
        left: 0;
      }
      &--next {
        right: 0;
        img {
          transform: rotateZ(180deg);
        }
      }
    }
  }
  .swiper-container {
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 15%;
      top: 0;
      z-index: 10;
      pointer-events: none;
    }
    &:before {
      left: 0;
      background-image: linear-gradient(90deg, white 30%, rgba(#fff, 0));
    }
    &:after {
      right: 0;
      background-image: linear-gradient(90deg, rgba(#fff, 0), white 70%);
    }
    .swiper-slide {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 1.5rem 3.5rem;
        width: 100%;
        min-height: 10rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        overflow: hidden;
        img {
          max-width: 100%;
          width: 100%;
        }
        @media (max-width: 1199px) {
          padding: 1.5rem 2.5rem;
        }
        @media (max-width: 767px) {
          padding: 1.5rem;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    --osw-section-padding: 5.5rem;
  }
  @media (max-width: 767px) {
    --osw-section-padding: 3.5rem;
  }
}
