@use 'sass:math';

.osw-introduce {
  padding-top: 8.5rem;
  padding-bottom: 8rem;
  position: relative;
  overflow: hidden;
  .osw-container {
    .osw__block-title {
      h2 {
        @include text-gradient(var(--osw-color-text), #ff4b23);
        font-size: 3.5rem;
        text-align: center;
        @media (max-width: 1199px) {
          font-size: 2.75rem;
        }
        @media (max-width: 767px) {
          font-size: 2rem;
        }
      }
    }
    &:first-child {
      .osw__block-title {
        p {
          max-width: 94rem;
          margin-inline-start: auto;
          margin-inline-end: auto;
          font-size: 1.6rem;
          text-align: center;
          color: var(--osw-color-text);
          margin-top: 1rem;
          @media (max-width: 1199px) {
            font-size: 1.5rem;
          }
          @media (max-width: 767px) {
            font-size: 1.4rem;
          }
        }
      }
      .osw__block-content {
        max-width: 75%;
        width: 100%;
        margin: 3.9rem auto 0;
        @media (max-width: 1199px) {
          margin-top: 6rem;
        }
        @media (max-width: 767px) {
          margin-top: 3rem;
        }
      }
      .osw-introduce__video {
        position: relative;
        // padding: 0.5rem;
        border-radius: 1rem;
        // background-image: linear-gradient(#8d36d1, #fa1552);
        // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);

        .plyr--video {
          border-radius: 1rem;
          overflow: hidden;
        }
        // .plyr__controls {
        //   display: none;
        // }
      }
    }
    &:nth-child(2) {
      margin-top: 10rem;
      .osw-introduce__tab-buttons {
        max-width: 87rem;
        margin-top: 3rem;
        margin-inline-start: auto;
        margin-inline-end: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a {
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin: 1.5rem 4.5rem;
          -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
          max-width: 20rem;
          height: 8rem;
          border-radius: 4rem;
          color: var(--osw-color-white);
          text-align: center;
          font-weight: bold;
          font-size: 1.8rem;
          opacity: 0.35;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
          &.active,
          &:hover {
            transition: all 0.3s ease;
            opacity: 1;
          }
          &:nth-child(1) {
            background-image: linear-gradient(#2a00ff, #5865f2);
          }
          &:nth-child(2) {
            // background-color: #d40b00;
            background-image: linear-gradient(#d40b00, #ff4b23);
          }
          &:nth-child(3) {
            // background-color: #8d36d1;
            background-image: linear-gradient(#8d36d1, #7b61ff);
          }
          &:nth-child(4) {
            // background-color: #209e01;
            background-image: linear-gradient(#209e01, #79e126);
          }
          &:nth-child(5) {
            // background-color: #d49900;
            background-image: linear-gradient(#d49900, #ff7f23);
          }
          @media (max-width: 1024px) {
            -ms-flex: 0 0 15rem;
            flex: 0 0 15rem;
            max-width: 15rem;
            margin: 1rem 3rem;
            font-size: 1.5rem;
            height: 6rem;
          }
          @media (max-width: 767px) {
            -ms-flex: 0 0 15rem;
            flex: 0 0 15rem;
            max-width: 15rem;
            margin: 0.5rem 1rem;
            font-size: 1.2rem;
            height: 4rem;
          }
        }
      }
      .osw-introduce__tab-content {
        max-width: 75%;
        margin: 4rem auto 0;
        width: 100%;
        padding: 0.5rem;
        overflow: hidden;
        border-radius: 1rem;
        background-image: linear-gradient(#8d36d1, #fa1552);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
        &.abstract-content {
          background-image: unset;
          box-shadow: unset;
          max-width: 75%;
          @media (max-width: 768px) {
            max-width: 100%;
            margin: 0rem auto 0;
          }
        }
      }
      .osw-introduce__tab-video {
        width: 100%;
        overflow: hidden;
        border-radius: 1rem;
        min-height: 24.7rem;
        #osw-introduce__plyr-tab-video {
          border-radius: 1rem;
          background-image: linear-gradient(#8d36d1, #fa1552);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
        }
        @media (max-width: 1024px) {
          min-height: initial;
        }
      }
      @media (max-width: 1199px) {
        margin-top: 10rem;
      }
      @media (max-width: 767px) {
        margin-top: 5rem;
      }
    }
  }
  .osw-introduce__background--left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    left: -7.5%;
    width: 35%;
    img {
      width: 100%;
    }
  }
  .osw-introduce__background--right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    right: -15%;
    width: 35%;
    img {
      width: 100%;
    }
  }
  [class*='osw_introduce__icon--animation--'] {
    img {
      width: 100%;
    }
  }
  .osw_introduce__icon--animation--1,
  .osw_introduce__icon--animation--3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8%;
    max-width: 8.4rem;
    left: 3%;
    img {
      transform: rotateY(180deg);
    }
  }
  .osw_introduce__icon--animation--1 {
    animation: mover11 1s infinite alternate;
  }
  .osw_introduce__icon--animation--2 {
    position: absolute;
    bottom: 0%;
    width: 8%;
    max-width: 8.4rem;
    left: 1%;
  }
  .osw_introduce__icon--animation--3 {
    position: absolute;
    top: unset;
    bottom: 3%;
    transform: translateY(-50%);
    width: 8%;
    max-width: 8.4rem;
    right: 3%;
    animation: mover11 1s infinite alternate;
  }
  .osw_introduce__icon--animation--4 {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 8%;
    max-width: 8.4rem;
    right: 3%;
    animation: mover5 1s infinite alternate;
  }
  .osw_introduce__icon--animation--5 {
    animation: mover11 1s infinite alternate;
    position: absolute;
    top: unset;
    bottom: 27%;
    transform: translateY(-50%);
    width: 8%;
    max-width: 8.4rem;
    right: 1.5%;
  }
  .osw_introduce__icon--animation--6 {
    position: absolute;
    top: unset;
    width: 12%;
    max-width: 12rem;
    bottom: 3%;
    right: 3%;
    animation: mover5 1s infinite alternate;
  }
  @media (max-width: 1199px) {
    padding-bottom: 6rem;
  }
  @media (max-width: 767px) {
    padding-bottom: 3rem;
  }
}
