.osw-roadmap {
  background-image: url(/images/roadmap_background.jpeg);
  background-position: center;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
  .osw__block-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 2rem;
      font-weight: 700;
      padding: 0.5rem 1rem;
      color: var(--osw-color-white);
      background: transparent;
      -webkit-text-fill-color: unset;
      -webkit-background-clip: unset;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        border: 0.3rem solid var(--osw-color-white);
        bottom: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        border-top: 0;
        border-right: 0;
      }
      &:after {
        content: '';
        position: absolute;
        border: 0.3rem solid var(--osw-color-white);
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        border-bottom: 0;
        border-left: 0;
      }
    }
    p {
      max-width: 60.7rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--osw-color-white);
      margin-top: 2.3rem;
    }
  }
  .swiper__roadmap-progress {
    margin-top: 3rem;
    max-width: 76.5rem;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    position: relative;
    .swiper-wrapper {
      align-items: flex-end;
    }
    .swiper-slide {
      padding-bottom: 4rem;
      &:before {
        content: '';
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 2rem;
        height: 2rem;
        border: 0.3rem solid var(--osw-color-white);
        background-color: var(--osw-color-text);
        border-radius: 50%;
        z-index: 2;
      }
      .roadmap-item {
        transition: all 0.3s ease;
        opacity: 0.25;
        background-color: transparent;
      }
      &.swiper-slide-active {
        .roadmap-item {
          opacity: 1;
          background-color: rgba(#0c004b, 0.75);
        }
      }
      &:not(.swiper-slide-active) {
        &:before {
          content: none;
        }
      }
    }
  }
  .swiper__roadmap-time {
    margin-top: 1.5rem;
    overflow-x: hidden;
    max-width: 18rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    position: relative;
    .swiper__roadmap-navigation {
      &--next,
      &--prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
      &--prev {
        left: 0;
      }
      &--next {
        right: 0;
        img {
          transform: rotateZ(180deg);
        }
      }
    }
    .swiper-button-disabled {
      opacity: 0.5;
      cursor: default;
    }
    .swiper-slide {
      text-align: center;
      color: var(--osw-color-white);
      font-weight: 500;
      font-size: 2rem;
    }
  }
  .roadmap__progress-bar {
    height: 0.5rem;
    width: 100%;
    margin-top: -1.3rem;
    position: relative;
    background-image: linear-gradient(
      90deg,
      rgba(#ff4b23, 0),
      #ff4b23,
      #2a00ff,
      #ff4b23,
      rgba(#ff4b23, 0)
    );
  }
  @media (max-width: 1199px) {
    padding: var(--osw-section-padding) 0;
    min-height: auto;
  }
}
.roadmap-item {
  padding: 2.4rem 1rem;
  border: 0.2rem solid var(--osw-color-white);
  border-radius: 1rem;
  // margin-bottom: 4rem;
  p {
    font-size: 1.2rem;
    color: var(--osw-color-white);
    font-weight: 500;
    + p {
      margin-top: 2rem;
    }
  }
}
