.osw-schedule-release {
  padding-top: 3.5rem;
  padding-bottom: 8rem;
  .osw-card {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    padding-bottom: 3.3rem;
    margin-top: 3rem;
    .osw-card__body {
      padding: 1.3rem 2.7rem;
      border-bottom: 1px solid #d8d8d8;
      h4 {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: var(--osw-color-primary);
      }
      p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin-top: 0.75rem;
        color: var(--osw-color-text);
      }
    }
    @media (max-width: 1199px) {
      margin-top: 2.5rem;
      .osw-card__body {
        padding: 1.15rem 2rem;
      }
    }
    @media (max-width: 767px) {
      margin-top: 2rem;
      .osw-card__body {
        padding: 1.5rem;
      }
    }
  }
  .osw__block-content {
    max-width: 1185px;
    margin-left: auto;
    margin-right: auto;
    .osw-schedule-release__block {
      &:nth-child(n + 2) {
        margin-top: 3rem;
      }
      @media (min-width: 768px) {
        &:nth-child(n + 2) {
          margin-top: 4.5rem;
        }
      }
      @media (min-width: 1025px) {
        &:nth-child(n + 2) {
          margin-top: 0;
        }
        &:nth-child(n + 3) {
          margin-top: 6rem;
        }
      }
    }
  }
  .osw-schedule-release__title {
    @include text-gradient(#2a00ff, #ff4b23);
    font-size: 3rem;
    line-height: 3.7rem;
    @media (max-width: 1199px) {
      font-size: 2.5rem;
    }
    @media (max-width: 767px) {
      font-size: 2rem;
    }
  }
}
