.osw-how-distribute {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  .osw__block-content {
    max-width: 1185px;
    margin-left: auto;
    margin-right: auto;
    .col-md-6 {
      &:nth-child(n + 2) {
        margin-top: 3rem;
      }
      @media (min-width: 768px) {
        &:nth-child(n + 2) {
          margin-top: 0;
        }
        &:nth-child(n + 3) {
          margin-top: 4.5rem;
        }
      }
      @media (min-width: 1025px) {
        &:nth-child(n + 3) {
          margin-top: 6rem;
        }
      }
    }
  }
  .osw-card {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: var(--osw-color-white);
    padding: 2.2rem 4.5rem 5rem;
    max-width: 57rem;
    margin-left: auto;
    margin-right: auto;
    .osw-card__header {
      margin-bottom: 3.6rem;
      text-align: center;
      h3 {
        font-size: 2rem;
        color: var(--osw-color-primary);
      }
    }
    @media (max-width: 1199px) {
      padding: 2rem 3.5rem 3rem;
    }
    @media (max-width: 767px) {
      padding: 2rem 2rem 3rem;
    }
  }
  .chart-item {
    display: flex;
    align-items: center;
    p {
      -ms-flex: 0 0 20.7rem;
      flex: 0 0 20.7rem;
      max-width: 20.7rem;
      font-size: 1.6rem;
      color: var(--osw-color-primary);
    }
    .chart-item__progress {
      height: 4.5rem;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
      > [data-ratio-percentage] {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.355rem;
        color: var(--osw-color-white);
        height: 100%;
        position: relative;
        > span {
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translateY(-50%);
          color: var(--osw-color-primary);
          padding-left: 0.5rem;
        }
      }
    }
    @media (max-width: 575px) {
      flex-wrap: wrap;
      + .chart-item {
        margin-top: 1rem;
      }
      p {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
      .chart-item__progress {
        margin-top: 1rem;
        height: 3.5rem;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
