@use 'sass:math';

.osw__team-members,
.osw__investors {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  .osw__block-title {
    display: flex;
    justify-content: center;
    h2 {
      padding: 0.5rem 1rem;
      color: var(--osw-color-primary);
      background: transparent;
      -webkit-text-fill-color: unset;
      -webkit-background-clip: unset;
      min-width: 23rem;
      text-align: center;
      font-size: 2rem;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        border: 0.3rem solid var(--osw-color-primary);
        bottom: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        border-top: 0;
        border-right: 0;
      }
      &:after {
        content: '';
        position: absolute;
        border: 0.3rem solid var(--osw-color-primary);
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        border-bottom: 0;
        border-left: 0;
      }
    }
  }
}
.osw__people {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 84rem;
  margin-left: auto;
  margin-right: auto;
}
.osw__people-item {
  -ms-flex: 0 0 math.div(100%, 3);
  flex: 0 0 math.div(100%, 3);
  max-width: math.div(100%, 3);
  &:nth-child(n + 4) {
    margin-top: 3rem;
  }
  &__img {
    img {
      width: 100%;
    }
  }
  &__link {
    display: block;
    width: 100%;
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      h4,
      p {
        text-decoration: none;
      }
      .osw__people-item__content {
        h4,
        p {
          text-decoration: none;
        }
      }
    }
  }
  &__content {
    margin-top: 1.4rem;
    text-align: center;
    h4,
    p {
      font-size: 1.4rem;
      color: #000000;
    }
  }
  @media (max-width: 575px) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    &:nth-child(n + 3) {
      margin-top: 3rem;
    }
  }
}
