.osw-banner {
  position: relative;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    width: 100%;
    height: 100vw;
    max-height: 72rem;
    position: relative;
    z-index: 2;
    .osw-container,
    .row {
      height: 100%;
    }

    h1 {
      color: var(--osw-color-primary);
      font-size: 4rem;
      @include text-gradient(#2a00ff, #ff4b23);
      b {
        font-size: 6rem;
      }
    }
    @media (max-width: 1199px) {
      h1 {
        font-size: 3rem;
        b {
          font-size: 5rem;
        }
      }
    }
    @media (max-width: 1024px) {
      height: auto;
      max-height: initial;
      h1 {
        text-align: center;
      }
    }
    @media (max-width: 767px) {
      h1 {
        font-size: 2rem;
        b {
          font-size: 3.5rem;
        }
      }
    }
  }

  &__video {
    padding: 0.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(#8d36d1, #fa1552);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);

    .plyr--video {
      border-radius: 1rem;
      overflow: hidden;
    }
    .plyr__poster {
      background-size: cover;
      border-radius: 10px;
      overflow: hidden;
    }
    @media (max-width: 1024px) {
      margin-bottom: 3rem;
    }
  }

  &__buttons {
    margin-block-start: 3rem;
    a {
      background-image: linear-gradient(#8d36d1, #fa1552);
      border-radius: 3.8rem;
      overflow: hidden;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      min-width: 20rem;
      min-height: 7.05rem;
      span {
        position: relative;
        text-transform: uppercase;
        z-index: 2;
        @include text-gradient(#2a00ff, #ff4b23);
      }
      &:before {
        border-radius: 3.8rem;
        content: '';
        background-color: var(--osw-color-white);
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        left: 0.3rem;
        bottom: 0.3rem;
        z-index: 1;
      }
      &:hover {
        span {
          transition: var(--osw-transition);
          color: var(--osw-color-white);
          background: none;
          -webkit-text-fill-color: unset;
        }
        &:before {
          transition: var(--osw-transition);
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    a + a {
      margin-inline-start: 3.7rem;
    }
    @media (max-width: 1199px) {
      a {
        min-height: 6.05rem;
      }
    }
    @media (max-width: 1024px) {
      text-align: center;
    }
    @media (max-width: 767px) {
      a {
        min-height: 5.05rem;
      }
    }
    @media (max-width: 576px) {
      a {
        display: flex;
        // max-width: 200px;
        margin-inline-start: auto;
        margin-inline-end: auto;
        + a {
          margin-top: 1.5rem;
          margin-inline-start: auto;
          margin-inline-end: auto;
        }
      }
    }
  }

  .osw-community {
    padding-bottom: 0;
    .osw-container {
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: 1024px) {
      display: block;
      margin-bottom: 3rem;
    }
  }
  @media (max-width: 1024px) {
    padding-top: 3rem;
  }
}
