.osw-community
  .osw-container
    .osw-community-title
      p Join our community 
    .osw__social 
      a.osw__social__item(href="") 
        img(src="/images/icons/facebook.svg", alt="")
      a.osw__social__item(href="") 
        img(src="/images/icons/telegram.svg", alt="")
      a.osw__social__item(href="") 
        img(src="/images/icons/twitter.svg", alt="")
      a.osw__social__item(href="") 
        img(src="/images/icons/discord.svg", alt="")
      a.osw__social__item(href="") 
        img(src="/images/icons/youtube.svg", alt="")