.osw-partners
  .osw-container
    .osw__block-title
      h2 Partners & Media
    .osw__block-content 
      .swiper__partners-navigation--prev
        img(src="/images/swiper-navigation-btn-color.svg", alt="")
      .swiper__partners-navigation--next
        img(src="/images/swiper-navigation-btn-color.svg", alt="")
      .swiper-container 
        .swiper-wrapper 
          .swiper-slide
            a(href="/" style="background-color: rgba(0,0,0,.5)")
              img(src="/images/partners/blockchain-hub.png", alt="")  
          .swiper-slide 
            a(href="/" style="background-color: rgba(0,0,0,.5)")
              img(src="/images/partners/block-cast.png", alt="")  
          .swiper-slide 
            a(href="/" style="background-color: rgba(0,0,0,.5)")
              img(src="/images/partners/benzinga.png", alt="")  
          .swiper-slide 
            a(href="/" style="background-color: rgba(0,0,0,.5)")
              img(src="/images/partners/baidu.png", alt="")  
          .swiper-slide 
            a(href="/" style="background-color: rgba(0,0,0,.5)")
              img(src="/images/partners/asia-one.png", alt="")