:root {
  --osw-font: 'Montserrat', sans-serif;
  --osw-font-weight: 400;
  --osw-line-height: 1.4;
  --osw-color-text: #2a00ff;
  --osw-color-white: #ffffff;
  --osw-color-primary: #120263;
  --osw-container-padding: 5rem;
  --osw-body-padding-top: 0;
  --osw-header-padding-top: 2.5rem;
  --osw-header-font-size: 1.2rem;
  --osw-header-nav-item-space: 3.6rem;
  --osw-header-nav-link-padding-y: 0.2rem;
  --osw-header-nav-link-padding-x: 1.5rem;
  --osw-header-nav-link-width: 11.7rem;
  --osw-header-nav-link-radius: 0.5rem;
  --osw-header-logo-width: 26rem;
  --osw-section-padding: 7.5rem;
  --osw-transition: all 0.3s ease;
  // Plyr - video player customize
  --plyr-color-main: rgba(255, 255, 255, 0.65);
}

@media (max-width: 1439px) {
  :root {
    --osw-header-nav-item-space: 2.6rem;
    --osw-header-logo-width: 20rem;
    --osw-header-padding-top: 2rem;
  }
}
@media (max-width: 1199px) {
  :root {
    --osw-header-nav-item-space: 1.5rem;
    --osw-header-logo-width: 18rem;
    --osw-container-padding: 3rem;
    --osw-header-padding-top: 1.5rem;
    --osw-section-padding: 5.5rem;
  }
}
@media (max-width: 1024px) {
  :root {
    --osw-body-padding-top: 7.68rem;
  }
}
@media (max-width: 767px) {
  :root {
    --osw-container-padding: 1rem;
    --osw-header-padding-top: 1rem;
    --osw-body-padding-top: 6.689rem;
    --osw-section-padding: 3.5rem;
  }
}
