.osw__team-members 
  .osw-container 
    .osw__block-title
      h2 Core Team
    .osw__block-content
      .osw__people
        - for(let i = 1; i < 4; i++)
          .osw__people-item
            a.osw__people-item__link(href="") 
              .osw__people-item__img
                img(src="/images/team/team_member_"+i+".png", alt="")
              .osw__people-item__content 
                h4 Mr. Khoa Trinh
                p GC Manager
                
.osw__investors
  .osw-container 
    .osw__block-title
      h2 Advisors & Investors
    .osw__block-content
      .osw__people
        - for(let i = 4; i < 6; i++)
          .osw__people-item
            a.osw__people-item__link(href="") 
              .osw__people-item__img
                img(src="/images/team/team_member_"+i+".png", alt="")
              .osw__people-item__content 
                h4 Mr. Khoa Trinh
                p GC Manager
                