extends ../components/layout

block var
  - bodyClass = "index-page"
  - pageTitle = "Index"

block main
  include ../components/index/i-1
  include ../components/index/i-2
  include ../components/index/i-3
  include ../components/index/i-4