extends ../components/layout

block var
  - bodyClass = "team-partners-page"
  - pageTitle = "Team & Partners"

block main
  include ../components/team-partners/t-1
  include ../components/_commons/partners

block footer 
  include ../components/_layouts/footer-minimize