extends ../components/layout

block var
  - bodyClass = "tokenomic-page"
  - pageTitle = "Tokenomic"

block main
  include ../components/tokenomic/t-1
  include ../components/tokenomic/t-2
  include ../components/tokenomic/t-3

block footer 
  include ../components/_layouts/footer-minimize