<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
link(rel="stylesheet", href="./css/core.min.css")
link(rel="stylesheet", href="./css/variables.min.css")
link(rel="stylesheet", href="./css/main.min.css")