footer.osw-footer 
  .osw-footer__background-corner--left
    img(src="/images/footer_corner_left.png", alt="")
  .osw-footer__background-corner--right
    img(src="/images/footer_corner_right.png", alt="")
  .osw-container 
    nav.footer__nav.d-flex
      .footer__nav-item 
        a.footer__nav-link.text-decoration-none.text-center(href="") Open Stream Live
      .footer__nav-item 
        a.footer__nav-link.text-decoration-none.text-center(href="") Infrastructure
      .footer__nav-item 
        a.footer__nav-link.text-decoration-none.text-center(href="") IOSO
      .footer__nav-item 
        a.footer__nav-link.text-decoration-none.text-center(href="") NFT Marketplace
      .footer__nav-item 
        a.footer__nav-link.text-decoration-none.text-center(href="") Stream Node Forgers
    .osw-footer__information
      p 
        span Address: 
        br 
        span 292/37/18 Binh Loi st, Binh Thanh Dist, HCM City
      p 
        span Email: 
        br 
        span openstreamworld@gmai.com
    .osw-footer__copyright
      p Copyright © 2022 By OpenStream World. All Rights Reserved