header
  .osw-container
    .header-wrapper.d-flex.align-items-center
      .header__left-side
        .header__logo
          a(href="/") 
            img(src="/images/logo.png", alt="")
      .header__right-side.ml-auto
        .header__language.text-right
          .form-group 
            label Language 
            select
              option(selected value="en") ENG
              option(value="vi") VI
        .header__nav__btn-toggle.mobile
          span 
          span 
          span 
        nav.header__nav.d-flex
          .header__nav-item 
            a.header__nav-link.text-decoration-none.text-center(href="/") HOME
          .header__nav-item 
            a.header__nav-link.text-decoration-none.text-center(href="") ECOSYSTEM
          .header__nav-item 
            a.header__nav-link.text-decoration-none.text-center(href="/tokenomic.html") TOKENOMIC
          .header__nav-item 
            a.header__nav-link.text-decoration-none.text-center(href="") ROADMAP
          .header__nav-item 
            a.header__nav-link.text-decoration-none.text-center(href="/team-partners.html") TEAM & PARTNERS
        .header__nav__overlay.mobile