.osw-how-use
  .osw-container 
    .osw__block-title
      h2 How 680 million OSW tokens will be used
      p Only 680.000.000 OSW tokens will be release to avoid the inflation. The more people user the token the higher value of the token. The more content creator can attract the viewer the more they can earn. The sooner user join the system, the more they can earn
    .osw__block-content 
      video(autoplay loop muted playsinline type="video/mp4" src="/videos/how_to_use.mp4")