.osw-how-distribute
  .osw-container 
    .osw__block-title
      h2 How 680 million OSW tokens 
        br 
        | will be distribute
    .osw__block-content 
      .row 
        .col-md-6 
          .osw-card
            .osw-card__header 
              h3 ECOSYSTEM GROWTH (57.5%)
            .osw-card__content 
              .chart-item
                p Livestream-to-earn
                .chart-item__progress
                  div(data-ratio-percentage="28")
              .chart-item
                p Stream Node Forgers
                .chart-item__progress
                  div(data-ratio-percentage="15")
              .chart-item
                p Reserve capital
                .chart-item__progress
                  div(data-ratio-percentage="7")
              .chart-item
                p Marketing
                .chart-item__progress
                  div(data-ratio-percentage="7.5")
        .col-md-6 
          .osw-card
            .osw-card__header 
              h3 ECOSYSTEM GROWTH (57.5%)
            .osw-card__content 
              .chart-item
                p Founding team
                .chart-item__progress
                  div(data-ratio-percentage="26.75")
              .chart-item
                p Development Team
                .chart-item__progress
                  div(data-ratio-percentage="6.75")
              .chart-item
                p Marketing Team
                .chart-item__progress
                  div(data-ratio-percentage="19.75")
              .chart-item
                p Advisors
                .chart-item__progress
                  div(data-ratio-percentage="59.75")
        .col-md-6 
          .osw-card
            .osw-card__header 
              h3 TOKEN SALE (16.63%)
            .osw-card__content 
              .chart-item
                p Seed Sale
                .chart-item__progress
                  div(data-ratio-percentage="56.75")
              .chart-item
                p Private Sale
                .chart-item__progress
                  div(data-ratio-percentage="6.75")
              .chart-item
                p Public Sale
                .chart-item__progress
                  div(data-ratio-percentage="76.75")
        .col-md-6 
          .osw-card
            .osw-card__header 
              h3 OTHERS (16.63%)
            .osw-card__content 
              .chart-item
                p Early Investor
                .chart-item__progress
                  div(data-ratio-percentage="32.75")
              .chart-item
                p Exchange LP
                .chart-item__progress
                  div(data-ratio-percentage="6.75")
              .chart-item
                p Airdrop
                .chart-item__progress
                  div(data-ratio-percentage="66.75")

