.osw-schedule-release
  .osw-container 
    .osw__block-title
      h2 OSW Token Release Schedule
    .osw__block-content 
      .row
        .col-lg-6.osw-schedule-release__block
          h3.osw-schedule-release__title Ecosystem Growth
          - for(let i=1; i<5; i++)
            .osw-card
              .osw-card__body 
                h4 Ecosystem Growth
                p 20% release after TGE, linear unlock for the next 24 months
        .col-lg-6.osw-schedule-release__block
          h3.osw-schedule-release__title Team & Advisors
          - for(let i=1; i<5; i++)
            .osw-card
              .osw-card__body 
                h4 Ecosystem Growth
                p 20% release after TGE, linear unlock for the next 24 months
        .col-lg-6.osw-schedule-release__block
          h3.osw-schedule-release__title Token Sale
          - for(let i=1; i<5; i++)
            .osw-card
              .osw-card__body 
                h4 Ecosystem Growth
                p 20% release after TGE, linear unlock for the next 24 months
        .col-lg-6.osw-schedule-release__block
          h3.osw-schedule-release__title Others
          - for(let i=1; i<5; i++)
            .osw-card
              .osw-card__body 
                h4 Ecosystem Growth
                p 20% release after TGE, linear unlock for the next 24 months