.osw-banner 
  .osw-banner__background 
    img(src="/images/banner_background.png", alt="")
  .osw-banner__content 
    .osw-container
      .row.align-items-center
        .col-lg-6
          h1.text-linear.text-center WORLD STREAMING VIDEO
            br
            b INFASTRUCTURE
          .osw-banner__buttons.text-center 
            a.text-decoration-none(href="#") 
              span Private sale
            a.text-decoration-none(href="#") 
              span More information
          include ../_commons/community
        .col-lg-6
          .osw-banner__video
            video#osw__plyr-video(data-poster="/images/video_poster_demo.jpeg")
              <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" />