.osw-introduce 
  .osw-container 
    .osw__block-title
      h2 Livestream Blockchain
      p The Openstream World Blockchain connects streamers and viewers directly. By utilizing blockchain technology, viewers and streamers can receive money from OSW token without worrying about paying very high third-party transaction fees. You can earn OSW token while watching your favorite streamers wherever you are! With blockchain, you can easily reach each other and communicate directly. Because there are no intermediaries, you can enjoy the benefits of peer-to-peer interactions with streamers.
    .osw__block-content
      .osw-introduce__video.none-banner
        video( autoplay loop muted playsinline src="https://stream-coin.com/img/connecting/connecting_img-v2.webm")
  .osw-container 
    .osw__block-title
      h2 
        span Livestream and connect to communities.
        br
        span Auto scale up infrastructure.
    .osw__block-content
      .osw-introduce__tab
        .osw-introduce__tab-buttons
          a.active(href="#" poster="") OpenStream
            br 
            | Live 
          a(href="#" poster="") Livestream
            br 
            | NFT Marketplace
          a(href="#" poster="") OpenStream
            br 
            | Infrastructure
          a(href="#" poster="") IOSO
          a(href="#" poster="") Stream Node
            br 
            | Forgers
        .osw-introduce__tab-content.abstract-content
          .osw-introduce__tab-video.none-banner
            video( autoplay loop muted playsinline src="https://stream-coin.com/img/platforms/liveviewplatform-vid-v2.mp4")
  .osw-introduce__background--left
    img(src="/images/index_background_icon_1.png", alt="")
  .osw-introduce__background--right
    img(src="/images/index_background_icon_2.png", alt="")
  .osw_introduce__icon--animation 
    .osw_introduce__icon--animation--1
      img(src="/images/icons/smiley_face_1.png", alt="")
    .osw_introduce__icon--animation--2
      img(src="/images/icons/smiley_face_2.png", alt="")
    .osw_introduce__icon--animation--3
      img(src="/images/icons/smiley_face_3.png", alt="")
    .osw_introduce__icon--animation--4
      img(src="/images/icons/smiley_face_1.png", alt="")
    .osw_introduce__icon--animation--5
      img(src="/images/icons/smiley_face_3.png", alt="")
    .osw_introduce__icon--animation--6
      img(src="/images/icons/smiley_face_4.png", alt="")
