.osw-roadmap 
  .osw-container
    .osw__block-title
      h2 Roadmap 
      p STREAM envisions a future that is progressive and technologically advanced, hence, it offers enhanced services for the years ahead.
    .osw__block-content 
      .swiper-container.swiper__roadmap-progress(data-slide-active="0")
        .swiper-wrapper 
          .swiper-slide
            .roadmap-item
              p Decentralize video streaming open testnet
              p Minings Demo
              p OpenStream World Open Beta
          .swiper-slide
            .roadmap-item
              p Decentralize video streaming open testnet
              p Minings Demo
              p OpenStream World Open Beta
              p OpenStream World Open Beta
              p OpenStream World Open Beta
          .swiper-slide
            .roadmap-item
              p Decentralize video streaming open testnet
              p Minings Demo
              p OpenStream World Open Beta
          .swiper-slide
            .roadmap-item
              p Decentralize video streaming open testnet
              p Minings Demo
              p OpenStream World Open Beta
          .swiper-slide
            .roadmap-item
              p Decentralize video streaming open testnet
              p Minings Demo
              p OpenStream World Open Beta
          .swiper-slide
            .roadmap-item 
              p Decentralize video streaming open testnet
              p Minings Demo
              p OpenStream World Open Beta
          .swiper-slide
            .roadmap-item 
              p Decentralize video streaming open testnet
              p Minings Demo
              p OpenStream World Open Beta
      .roadmap__progress-bar
      .swiper-container.swiper__roadmap-time(data-slide-active="0")
        .swiper__roadmap-navigation--prev
          img(src="/images/swiper-navigation-btn.svg", alt="")
        .swiper__roadmap-navigation--next
          img(src="/images/swiper-navigation-btn.svg", alt="")
        .swiper-wrapper 
          .swiper-slide Jan 2021
          .swiper-slide Jan 2022
          .swiper-slide Jan 2023
          .swiper-slide Jan 2024
          .swiper-slide Jan 2025
          .swiper-slide Jan 2026
          .swiper-slide Jan 2027